{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_author_new' ? 'Ajouter' : 'Modifier' %}
{% block title %}{{ action }} un auteur{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center my-5">{{ action }} un auteur</h1>
    <div class="w-50 m-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary my-3">{{ action }}</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
