{% extends 'base.html.twig' %}

{% block title %}Liste de livres{% endblock %}

{% block body %}
    <section class="container px-4">
        <h1>Liste de livres</h1>

        
            <div class="row d-flex justify-content-center">
            {% for book in books %}
                <div class="card mb-1 mx-3 p-3" style="width: 18rem;">
                    <img src="{{ book.cover }}" alt="{{ book.title }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ path('app_admin_book_show', {'id': book.id}) }}" class="stretched-link link-dark">
                                <h4 class="card-title">{{ book.title }}</h4>
                            </a>
                        </div>
                        {% for author in book.authors %}
                            <small class="text-muted">{{ author.name }}</small>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Aucun enregistrement en base de données.</p>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-5">
            {{ pagerfanta(books) }}
        </div>
    </section>
{% endblock %}