{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_book_new' ? 'Ajouter' : 'Modifier' %}

{% block title %}{{ action }} de livre{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>{{ action }} de livre</h1>

        {{ form_start(form, {'method': 'POST',
        'attr': {'data-turbo': 'false'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary my-3">{{ action }}</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}